body
  #layout
    // Menu toggle
    a#menuLink.menu-link(href='#menu')
      // Hamburger icon
      span
    #menu
      .pure-menu.pure-menu-open
        a.pure-menu-heading(href='#')
          span
          | Devcoin
        ul
          li
            a(href='#earn') Earn
          li
            a(href='#spend') Spend
          li
            a(href='#transact') Transact
          li
            a(href='#trade') Trade
    #main
      
      .header
        .pure-g
          .pure-u-1
            img(src='/images/coin_orange.png')
          .pure-u-1.title Devcoin
        h2 An electronic currency and IRC-inspired network for developers.
      .content
        .pure-g
          .pure-u-1.pure-u-md-1-3.head-exp
            img(src='/images/laptop_blue.png')
            p 
              strong Earn
              |  Devcoin by fielding technical requests in IRC rooms.
          .pure-u-1.pure-u-md-1-3.head-exp
            img(src='/images/ide_blue.png')
            p 
              strong Spend
              |  Devcoin on technical assistance from others.
          .pure-u-1.pure-u-md-1-3.head-exp
            img(src='/images/exchange_blue.png')
            p
             strong Exchange
             |    Devcoin for other currencies, like Bitcoin.
        .pure-g.signup
          .pure-u-1.centxt
            a(href='http://tinyletter.com/devcoin')
              button.pure-button Join the Devcoin Pre-launch.
        .pure-g
          .pure-u-1.centxt
            h2.content-subhead How does it work?
        .pure-g

          .pure-u-1.main-exp#earn
            .pure-u-md-2-3.pure-u-1
              h2.content-subhead Earn Devcoin by assisting others.
              p Install the Devcoin IRC client, and start mining Devcoin by assisting others in your area of technical expertise.
            .pure-u-md-1-3.pure-u-1
              img(src='/images/laptop_yellow.png')

          .pure-u-1.main-exp#spend
            .pure-u-md-1-3.pure-u-1
              img(src='/images/ide_blue.png', style='width:90%')
            .pure-u-md-2-3.pure-u-1
              h2.content-subhead Spend Devcoin on technical help from the network.
              p With the Devcoin client, you can spend your Devcoin to get on demand technical help from the network, in any language or framework. 

          .pure-u-1.main-exp#transact
            .pure-u-md-2-3.pure-u-1
              h2.content-subhead Transact with Devcoin, just like Bitcoin.
              p You can issue transactions and send value just like with Bitcoin and other cryptocurrencies. 
            .pure-u-md-1-3.pure-u-1
              img(src='/images/exchange_yellow.png')

          .pure-u-1.main-exp#trade
            .pure-u-md-1-3.pure-u-1
              img(src='/images/trade_blue.png', style='width:90%')
            .pure-u-md-2-3.pure-u-1
              h2.content-subhead Trade Devcoin on cryptocurrency exchanges.
              p Buy and sell Devcoin on major crypto-currency exchanges across the world. Extract value in other curriencies from your participation in the Devoin network.
        .pure-g
          .pure-u-1
            h2.content-subhead Challenges and Open Questions
            ul
              li Proof of work may be the Achilles' heel. How can it be done trustlessly?
              li Should hosting IRC nodes be a mining strategy too?

        .pure-g
          .pure-u-1.footer A thought experiment by 
            a(href='http://twitter.com/recborg') Myles Recny.
            |  Send feedback to 
            a(href='mailto:mkrecny@gmail.com') mkrecny@gmail.com
            | .
